//Navigation brand section
.sidebar {
  &__brand {
    margin-top: 4rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--picture {
      width: 13rem;
      height: 100%;
      border-radius: 50%;
      border: 4px solid var(--bg-dark-3);
    }

    &--name {
      font-size: 2.1rem;
      font-weight: 500;
      color: var(--grey-light-1);
      text-align: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__navbar {
    padding: 1.6rem;
    text-align: center;

    display: flex;
    flex-direction: column;

    &--item {
      list-style: none;
      line-height: 1.7;
      padding: 0.5rem 0;
      display: inline-block;
    }

    &--link {
      color: var(--grey-light-1);
      transition: all .2s ease;

      &--active {
        color: var(--brand-primary);
      }

      &:hover {
        background-color: var(--bg-dark-2);
        border-radius: 5px;
        padding: 0 0.6rem;
        color: var(--brand-primary);
      }
      display: block;
    }
  }

  &__social {
    filter: brightness(#fff, .70);
    color: #fff;
    margin: 0 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    &--icon {
      margin: 0 0.5rem;
    }
  }
}




// Social icons
.social {


  &__icon {
    margin: 0 0.5rem;
  }


}
