//Navigation brand section
.sidebar {
  grid-area: navbar;
  background-color: #111;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brand {
    //margin-top: 4rem;
    //text-align: center;
    order: 1;

    &--picture {
      display: none;
      width: 13rem;
      height: 100%;
      border-radius: 50%;
      border: 4px solid var(--bg-dark-3);
      opacity: 0.9;
    }

    &--name {
      font-size: 2.1rem;
      font-weight: 500;
      color: var(--grey-light-1);
      //text-align: center;
      margin: 0;
      padding: 0.5rem 1rem;
    }
  }

  &__navbar {
    padding: 1.6rem;
    text-align: center;

    display: none;

    &--item {
      list-style: none;
      line-height: 1.7;
      padding: 0.5rem 0;
      display: block;
    }

    &--toggle {
      color: var(--grey-light-1);
      order: 3;
      padding-right: 1rem;

    }

    &--link {
      color: var(--grey-light-1);
      transition: all .2s ease;

      &--active {
        color: var(--brand-primary);
      }

      &:hover {
        background-color: var(--bg-dark-2);
        border-radius: 5px;
        padding: 0 0.6rem;
        color: var(--brand-primary);
      }

      display: block;
    }
  }

  &__social {
    color: var(--grey-light-4);
    font-size: 2rem;
    padding: 1rem;

    display: flex;
    order: 2
  }

  &__social > * {
    padding: 0 0.7rem;
    transition: all .5s;
  }

  &--dev:hover {
    color: #666;
  }

  &--github:hover {
    color: #666;
  }

  &--linkedin:hover {
    color: #2867b2;
  }

  &--twitter:hover {
    color: #1da1f2;
  }
}


